*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
    background-color: aliceblue;
}
.input__button{
    border: none;
}
.button__icon{
    height: 25px;
}
