*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background-image:url("https://images.pexels.com/photos/1028600/pexels-photo-1028600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 11px;
    padding: 40px 30px;
    text-align: center;
}
.card__input{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.input__tag{
    height: 40px;
    width: 400px;
    border-radius: 15px;
    border: none;
    background-color: #d5ec2468;
}
.input__button{
    border-radius: 30px;
    border: 3px solid #d5ec2468;
    padding: 5px;
    cursor: pointer;
    background: none;
    
}
.button__image{
    width: 26px;
}